html {
  scroll-behavior: smooth!important;
}

@media (min-width: 768px) {
.main {
padding-right: 40px;
padding-left: 220px; /* 180 + 40 */
}
}

.bodyBG{
	background-color: #1F2145;
}

.firstPage{
	min-height: 100dvh;
}

.olimpiadas{
	position: absolute;
	background-image: linear-gradient(90deg, rgba(8,12,44,1) 0%, rgba(8,12,44,0.6) 100%), url("../images/olimpiadas.webp");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	filter: blur(1px);
	z-index: -1;
}

.card_Carousel{
	transition: 0.2s;
	margin: 0 .5em;
	border: none;
	background-color: #F7F7F7;
}

.card_Carousel:hover{
	transform: scale(1.05);
}

.imgsCard{
	width: 100%;
	height: 12vw;
	object-fit: cover;
}

.carouselImgs{
	border: white solid 1px;
	max-width: 80dvw;
	max-height: 80dvh;
	height: 80dvh;
	width: auto;
}

#videoCarousel{
	max-width: 80dvw;
	max-height: 80dvh;
	object-fit: initial;
	height: 80dvh;
	width: auto;
}

.bgText{
	background-color:white; 
	border: black solid 1px;
}

.externalLink{
	 margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  transform: scale(0.25);
  opacity: 0;
	z-index: 2;
	pointer-events: none;
}

.linkClass:hover .externalLink{
	transition: 0.2s;
	opacity: 1;
}

.linkClass:hover .imgsCard{
	transition: 0.2s;
    opacity: 0.5;
}
.linkClass:hover .hideCar{
	transition: 0.2s;
    opacity: 0.5;
}/*
.linkClass:hover {
	background-position: center;
    background-image: url("../images/link.webp");
    transition: 0.1s;
    background-size: 25%;
    background-repeat: no-repeat;
}*/

@media(max-width:992px){
.imgsCard{
	height: 40vw;
	}
	.carouselImgs{
		width: 80dvh;
	height: auto;
	}
	#videoCarousel{
		width: 80dvh;
	height: auto;
	}
}

.techCards{
	flex: 10%;
	padding: 5px;
	max-height:50px;
}

.techImgs{
	max-height: 50px;
}

.divimgMe{
	position: relative;
	max-width: 200px;
	height: auto;
}

.imgMe{
	max-width: 200px;
	clip-path: circle();
	z-index: 1;
	transform: scale(0.95);
}

.imgMeDiv{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-image: url('../images/profile.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 45%;
	outline: solid 8px;
	outline-color: rgb(48,76,255);
}

.borderimgMe{
	position: absolute;
	background: linear-gradient(90deg, rgba(48,76,255,1) 0%, rgba(71,92,255,1) 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip-path: circle();
  z-index: -1;
}

.boxGray{
	background-color: #DADADA; 
	padding: 20px; 
	outline: solid 4px #106cfc;
}

.blueColor{
	color: #106cfc;
}